@import 'antd/dist/antd.css';

body {
	font-family: Lato, sans-serif;
}

.container {
	background-color: #020111;
	background-image: url('https://i.pinimg.com/564x/42/95/e9/4295e998fb34e7e46f7ab6283f167425.jpg');
	min-height: 100vh;
}

.header {
	margin-top: 60px;
	background-color: transparent;

	display: flex;
	align-items: center;
	justify-content: center;
}

.header img {
	background-color: transparent;
	height: 120px;
	width: 320px;
}

.content {
	margin-top: 150px;
}
