@import 'antd/dist/antd.css';

body, 
button, 
input {
	font-family: Lato, sans-serif;
}

.ant-layout {
	background-color: #020111;
	background-image: url('https://i.pinimg.com/564x/42/95/e9/4295e998fb34e7e46f7ab6283f167425.jpg');
	min-height: 100vh;
}

.ant-layout-header {
	margin-top: 80px;
	background-color: transparent;

	display: flex;
	align-items: center;
	justify-content: center;
}

.ant-layout-header img {
	background-color: transparent;
	height: 120px;
	width: 320px;
}

.ant-layout-content {
	margin-top: 140px;
}


:root {
	--sw-yellow: #f0ce0f;
	--sw-black: #000000f8;
	--sw-light-grey: #f0f0f0;
	--sw-shadow-dark: #272626
}